.section-feautures {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
  }
      @media screen and (min-width:1200px){
  padding-top: 94px;
    }

}
.feautures {  
   @media screen and (max-width:767px){
    .item:not(:last-child) {
        margin-bottom: 30px;        
      }
      .item:last-child {
        margin-bottom: 60px;        
      }
    } 
     @media screen and (min-width:768px) and (max-width:1199px){
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap; 
        margin-right: -15px;
        .item{
          width: 344px;
          height: 226px;
          margin:15px;
        }
      }
    @media screen and (min-width:1200px){
        display: flex;
        .item:not(:last-child) {
       margin-right: 30px;
}
    }
  
    .icon-feautures-bg {
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: center;
        background-color: $background-color;
        margin-bottom: 30px;
        border-radius: 4px;
    }
}


.main-heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
}
.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: $main-text-color;
}
