%nav-text {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  @include transition(color);
  color: $main-text-color;
}
.head-container {
  &.is-open{
      display: block;
    }
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999;
    outline: 1px solid teal;
    background-color: $white;
    width: 100%;
    &.is-open{
      display: block;
    }
  }
    @media screen and (min-width:768px) {
            display: flex;
      align-items: center;
      justify-content: space-between;
    }
  @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
  }
}
.nav-container {
  @media screen and (max-width: 767px){
    text-align: center;
  }
      @media screen and (min-width:768px) {
            display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
     
  }

}
.header-page {
 
    @media screen and (max-width:767px) {
             position: relative;
             width: 100%;
    }

  @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
     
  }

}
.mobail-menu{
  @media screen and (max-width: 767px){
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 60px;
  }
      @media screen and (min-width:768px) {
            display: flex;
              }

}

 .menu-button {
  @media screen and (max-width: 767px){
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color:  transparent;
  color: $title-text-color;
   .icon-cross {
    display: none;
    fill: currentColor;
  }
  &.is-open .icon-cross {
    display: block;
  }
   &.is-open .icon-menu {
    display: none;
  }
   .icon-menu {
     display: block;
    fill: currentColor;
  }
  &:active,
  &:hover{
    color: $accent-color;
  }
  }
  @media screen  and (min-width:768px) {
    display: none;
  }
}
 
.header-page.portfolio{
  border-bottom: 1px solid #ECECEC;
}
.site-nav {
      @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
.item:not(:last-child) {
      margin-right: 50px;
    }
   }
  @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 85px;
    .item:not(:last-child) {
      margin-right: 50px;
    }

  }
}
.link-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.contacts {
  @media screen and (max-width:767px){
    .item + .item {
    margin-top: 16px;
      margin-bottom: 60px;
    }
  }
  @media screen and (min-width:768px) {
    display: block;
    margin-left: 84px;
  }
  
   @media screen and (min-width: 1200px) {
       display: flex; 
        margin-right: auto;  
        margin-left: 300px;
  .item + .item {
      margin-left: 30px;
    }
  }

}
.logo {
  display: block;
  text-decoration: none;
  color: $title-text-color;
}

.hd-nav {
  display: inline-block;
  @extend %nav-text;
    &:hover, &:active, &:focus{  
    color:$accent-color;
  }
}
.link-nav {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
  }

  
  @extend %nav-text;
  &:hover, &:active, &:focus{  
    color:$accent-color;
  }
}
.active-link {
  position: relative;
  color: $accent-color;
  &::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color:$accent-color;
    border-radius: 4px;
  }
}