%text-decor {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

}
.our-teem.section {
  background-color: $background-color;
}
.tm-photo {
  margin-bottom: 30px;
}
.people-our-team {
    .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    background-color: $white;
    img {
      width: 270px;
      height: 260px;
    }
     @media screen and (max-width: 767px){
        display: block;
        &:not(:last-child){
                    margin-bottom: 30px;
        }
            img {
         width: 100%;
         height: 100%;
            }
        }
    } 
    @media screen and (min-width:768px) and (max-width:1199px){
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
                margin-right: -15px;

        .item{
        margin:15px;
      }
    }
    @media screen and (min-width:1200px) {
        display: flex;
        .item:not(:last-child) {
        margin-right: 30px;
      }
    }
}
.soc-net {
  display: flex;
  justify-content: center;
}
.people-our-team .item .item-sn {
  display: flex;
  
    .link-icon-sn {
      fill: currentColor;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
}
.people-our-team .item .item-sn .link-sn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include transition(background-color);
  @include transition(color);
  color: $border-color;
    &:focus,
    &:hover {
      background-color:$accent-color;
      color: $white;
    }
}
.tm-name {  
    @extend %text-decor;
  margin-bottom: 10px;
  font-weight: 500;
  color: $title-text-color;
}
.tm-position {
  margin-bottom: 16px;
  font-weight: 400;
    @extend %text-decor;
  color: $main-text-color;
}
.web-st {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.Web-bl {
  color: $accent-color;
}
