.btn-list {
  @media screen and (max-width:767px) {
    display: flex ;
    flex-wrap: wrap;
    .item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15PX;
    }
  }
     @media screen and (min-width:768px) and (max-width:1199px){
      display: flex;
  justify-content: center;
    .item:not(:last-child) {
    margin-right: 8px;
    }
    }
  @media screen and (min-width: 1200px){
      display: flex;
  justify-content: center;
    .item:not(:last-child) {
    margin-right: 8px;
    }
  }

}

.port-exemp .item img{
  display: block;
}

.decor-link{
  display: block;
  padding-bottom: 20px;
  @include transition(box-shadow);
    &:hover,
    &:active,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .jb-descrition,
    &:active .jb-descrition,
    &:focus .jb-descrition{
        transform: translateY(0);
    }
}


.btn-nav {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background: $background-color;
  border: none;
  border-radius: 4px;
  @include transition(color);
  @include transition(box-shadow);
  @include transition(background-color);
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        color: $white;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        background-color: $accent-color;
    }
}
.none-decor {
  text-decoration: none;
}
.port-exemp {
  display: flex;
  
  flex-wrap: wrap;
    .item a > img {
      margin-bottom: 20px;
    }
    @media screen and (max-width:767px) {
      justify-content: center;
        margin-top: 40px;
         .item a > img {
      max-width: 450px;
    }
    }
         @media screen and (min-width:768px) and (max-width:1199px){
          margin: -15px;
          padding-top: 30px;
          .item a > img {
            width: 100%;
    }
    }

        @media screen and (min-width:1200px) {
        margin-top: 56px;
        justify-content: center;
      .item a > img {
          width: 370px;
          height: 294px;
    }

    }
   
}
.port-exemp .item {
  border: 1px solid #eeeeee;
  @media screen and (max-width:767px) {
    max-width: 450px;
     margin-bottom: 30px;
  }
       @media screen and (min-width:768px) and (max-width:1199px){
             width: 354px;
             margin: 15px;
    }


    @media screen and (min-width:1200px){
        width: 370px;
    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
    }

}
.jb-title {
  margin-left: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}

.jd-variety {
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $main-text-color;
}
.img-txt{
  overflow: hidden;
  position: relative;
}


.jb-descrition {
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  left:0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $white;
  background-color: rgba(33, 150, 243, 0.9);
  @include transition(transform);
}