.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 528px;
  // height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  background-color: $white;
}
.modal-form{
  // display: flex;
  // flex-direction: column;
}
.modal-title{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
.modal-input{
  display: block;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  @include transition(border);
    &:focus,
    &:active {
        border: 1px solid $accent-color;
        outline: none;
    }
    &:focus ~ svg,
    &:active ~ svg{
        fill: $accent-color
    }

}

.label-title-modal{
  margin-bottom: 4px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.165;
  letter-spacing: 0.01em;
  color: $main-text-color;

}
.label-modal{
  position: relative;
    & > textarea {
        padding-left: 12px;
        margin-bottom: 20px;  
        resize: none;
        width: 100%;
        height: 120px;
    }
}
.form-svg {
  position: absolute;
  top: 30px;
  left: 18px;
  @include transition(fill);
  fill: currentColor;
}

.modal-btn {
  align-self: center;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  color: $white;
  background: #188CE8;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.checkbox-label{
  align-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; 
    &:checked + .icon-checkbox{
        background-color: $accent-color;
        background-image: url(../images/icon_check.svg);
        background-size: contain;
        background-origin: border-box;
        border-color: $accent-color;
    }
}

.icon-checkbox{
  display: inline-block;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
}
.checkbox-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;

}
.close-btn {
  position:absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;
    &:hover,
    &:focus {
        color: $accent-color;
    }

}
